/* 
colors
blue: #058aff
orange: #ff6a1f
yellow: #ffad2b
dark gray: #295780 (or #034580)
light gray: #f3f4f5
        
# base colors
        backgroundColor = "#ffffff"  
        subtleBackColor = "#ffad2b" 
        foregroundColor = "#058aff"
        accentColor = "#ff6a1f"
        accentColor2 = "#ffad2b"
        activeLinkColor = "#ff6a1f"
        visitedLinkColor = "#058aff"   
        fontFamily = "Optima, Candara, Calibri, Arial, sans-serif"
        # mitime specific colors
        downcolor = "black"

*/

html{
  background-color: white;
}

header {
    margin: 0;
    padding: 0; 
    width: 100%;
    max-width: 100%;
    background-color: $color;
    color: $background-color;
    @include v-rhythm(1);
}

header .inner {
    padding: 2rem 1rem 0 1rem;
    margin: 0 auto; 
    max-width: 800px;
}


body.down header header {
    background-color: black; 
    /*$down-color;*/
}

.homelink, .meta, aside {
    display: none;
}

.small-text {
    @include v-rhythm(0);
    padding-top: 0;
    margin-bottom: 0;
}

figure {
    margin: 0;
    padding: 0
}
 
svg#miclock {
    width: 100%;
    max-width: 300px;
    height: auto; 
}

#logo svg {
    width: auto;
    max-height: 100px; 
    fill: $background-color;
}

#logo svg #crosst {
    fill: $accent-color;
}

.midigital {
    font-weight: bold; 
}

header {
    padding-bottom: -4rem; 
}

header .subhead {
    @include v-rhythm(1);
    text-align: left;
    padding-top: 0;
    padding-left: 6.9rem;
    color: $accent-color;
}

header #digitalclock {
    text-align: center;
    margin-left: -16.5rem;
}

header #curve svg {
    display: block;
    margin: 0;
    padding: 0;
    fill: $background-color;
}

header div {
  margin-bottom: 0;
  padding-bottom: 0; 
}

.michar {
    font-weight: bold;
    vertical-align: 2px;
}

em {
  font-family: monospace;
  font-style: normal;
  font-size: 1.24rem;
  font-weight: bold;
}

main {
  font-size: 124%; 
  padding-bottom: 1rem;
}

main a { 
    font-weight: bold;
}

main .subhead {
    padding: 1rem 35% 1rem 0;  
    text-align: center;
    font-size: 5rem;
    line-height: 5rem;
    font-style: italic;
    font-weight: lighter;
    color: $accent-color2;
}

main figure {
    padding: 1em;
    text-align: center;
}

figure.mainanalogclock svg {
    display: block;
    background-color: white;
    padding: 3px;  
}

table.miplanner {
    border: 2px solid $subtle-back-color;
    @include v-rhythm(1);
}

table.miplanner .mi {
    width: 25%;
    vertical-align: top;
}

table.miplanner td, table.miplanner th {
    background-color: $background-color;
    opacity: 100%;
    padding-left: 2rem;
}

table.miplanner td {
    border-bottom: 1px dashed $subtle-back-color;
}

footer {
    @include v-rhythm(1);
    margin: 0;
    padding: 0; 
    width: 100%;
    max-width: 100%;
    background-color: $color;
    color: $accent-color;  
    font-style: italic; 
    font-weight: 200;  
}

footer a, footer a:visited {
  color: $background-color;
  font-style: normal; 
  font-weight: bold; 
}

footer .inner {
    padding: 0 1rem 0 1rem;
    margin: 0 auto; 
    max-width: 800px;
}

#footercurve svg {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    fill: $background-color;
    transform: scaleY(-1);
}

footer .small-text {
    color: $background-color;
    padding-top: 3em;
    font-weight: normal;
    font-style: normal;
}

footer .small-text a {
    color: $background-color;
    font-weight: normal;
}

footer article h2 {
  padding-top: 0;
}

@media only screen and (max-width: 800px) {
    main div.subhead { @include v-rhythm(3); text-align: left; } 
    header .subhead, header #digitalclock { padding-top: 0; padding-left: 0; padding-bottom: 0; marging-bottom: 0; } 
    header #digitalclock, footer .inner { text-align: left; margin-left: 0; }
    header .grid-container { grid-template-columns: 1fr; justify-items: left; } /* allows responsiveness of columns of uneven widths */
    table.miplanner { @include v-rhythm(0); }
}
