<header>
    <div class="inner">
        <p class="subhead">minimal time metastructure</p>
        <a href="{{ with .Site.BaseURL }} {{ . }} {{ end }}">
            <figure id="logo">
                {{ .Scratch.Set "svgpath" "img/mitime-logo-opt.svg" }}
                {{ partial "inline-svg.html" . }}
            </figure>
        </a>

        <div id="digitalclock"> 
            <div class="midigital"> 
                mitime is <span id="mitime"></span>
            </div>
            <div id="standarddigital" class="small-text"> 
                (<span id="standardtime"></span> local time)
            </div>
            <script defer>
                setInterval('getDisplayMitime("#mitime", "#standardtime", 4, 4, 4, 6)', 1000 );
            </script>  
        </div> 
    </div>
    <div id="curve">
        {{- readFile "assets/img/more.svg" | safeHTML -}}
    </div> 
</header>

