<header>
    <div class="inner">
        <p class="subhead headtext">minimal time metastructure</p>
        <a href="{{ with .Site.BaseURL }} {{ . }} {{ end }}">
            <figure id="logo">
                {{ .Scratch.Set "svgpath" "img/mitime-logo-opt.svg" }}
                {{ partial "inline-svg.html" . }}
            </figure>
        </a>

        <p class="midigital headtext"> 
            mitime is <span id="mitime"></span>
        </p>
        <p class="standarddigital headtext small"> 
            (<span id="standardtime"></span> local time)
        </p >
        <script defer>
            setInterval('getDisplayMitime("#mitime", "#standardtime", 4, 4, 4, 6)', 1000 );
        </script>  
    </div>
    <div class="curve">
        {{- readFile "assets/img/more.svg" | safeHTML -}}
    </div> 
</header>

