<table class="miplanner">

<thead>
    <tr>
        <th class="mi">mi</th>
        <th class="mh">mihour</th>
    </tr>
</thead>

<tbody>

    <tr>
        <td class="mi even" rowspan="4">4</td>
        <td class="even mh">4</td>
    </tr>
    <tr class="even">
        <td class="mh">3</td>
    </tr>
    <tr>
        <td class="mh even">2</td>
    </tr>
    <tr>
        <td class="mh">1</td>
    </tr>

    <tr>
        <td class="mi" rowspan="4">3</td>
        <td class="even mh">4</td>
    </tr>
    <tr>
        <td class="mh">3</td>
    </tr>
    <tr>
        <td class="mh even">2</td>
    </tr>
    <tr>
        <td class="mh">1</td>
    </tr>
    
    <tr>
        <td class="mi even" rowspan="4">2</td>
        <td class="even mh">4</td>
    </tr>
    <tr>
        <td class="mh">3</td>
    </tr>
    <tr>
        <td class="mh even">2</td>
    </tr>
    <tr>
        <td class="mh">1</td>
    </tr>

    <tr>
        <td class="mi" rowspan="4">1</td>
        <td class="even mh">4</td>
    </tr>
    <tr>
        <td class="mh">3</td>
    </tr>
    <tr>
        <td class="mh even">2</td>
    </tr>
    <tr>
        <td class="mh">1</td>
    </tr>

</tbody>
</table>
